src/main/resources/xmlSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="FindPlaceFromTextResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="candidates">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element maxOccurs="unbounded" name="type" type="xs:string" />
                            <xs:element name="formatted_address" type="xs:string" />
                            <xs:element name="geometry">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="location">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="lat" type="xs:decimal" />
                                                    <xs:element name="lng" type="xs:decimal" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="viewport">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="southwest">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="lat" type="xs:decimal" />
                                                                <xs:element name="lng" type="xs:decimal" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="northeast">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="lat" type="xs:decimal" />
                                                                <xs:element name="lng" type="xs:decimal" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="icon" type="xs:string" />
                            <xs:element name="photo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="photo_reference" type="xs:string" />
                                        <xs:element name="width" type="xs:unsignedShort" />
                                        <xs:element name="height" type="xs:unsignedShort" />
                                        <xs:element name="html_attribution" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="place_id" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="status" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>